<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Profile info</title>
	<link rel="stylesheet" href="resources/fontawesome-free-6.0.0-web/css/all.min.css" />
	<link rel="stylesheet" href="resources/css/style.css" />
	<link rel="stylesheet" href="resources/bootstrap-5.1.3-dist/css/bootstrap.min.css">
</head>

<body>
	<nav class="nav justify-content-end bg-black">
		<a class="nav-link text-white" href="#"><i class="fa fa-user"></i> Đăng nhập</a>
		<a class="nav-link text-white" href="#"><i class="fa fa-user-plus"></i> Đăng ký</a>
	</nav>
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="resources/images/077478854785997.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="resources/images/520997832040494.png" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="resources/images/701646968300357.png" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<nav class="nav justify-content-center bg-black">
		<a class="nav-link text-white" href="#">Trang chủ</a>
		<a class="nav-link text-white" href="#">Giới thiệu</a>
		<a class="nav-link text-white" href="#">Bảng giá</a>
		<a class="nav-link text-white" href="#">Liên hệ</a>

	</nav>
	<div class="container">
		
		<div class="row mt-2">
			<div class="col">
				<div class="justify-content-center bg-black text-white rounded-2 mt-2">
					<div class="card-header text-center">
						<h1 class="defColor text-decoration-underline">Tài xế</h1>
					</div>
				</div>
			</div>

		</div>


		<div class="row g-2 mt-2">
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 col-sm-12 p-2">
				<div class="info mx-auto">
					<div class="info__img">
						<img src="/resources/images/aNam.jpg" alt="" />
					</div>
					<h2>Dinh Nam</h2>
					<div class="info__profile">
						<ul>
							<li>Tuổi: 30</li>
							<li>Kinh nghiệm: 2 năm</li>
							<li>Khu vực: Hà Nội</li>
							<li>Loại xe: Toyota</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
						  <span aria-hidden="true">&laquo;</span>
						</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item"><a class="page-link" href="#">2</a></li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
						  <span aria-hidden="true">&raquo;</span>
						</a>
					  </li>
					</ul>
				  </nav>
			</div>
		</div>
	</div>
	<footer class="py-3 my-4">
		<p class="text-center text-muted">© 2021 Company, Inc</p>
	</footer>




	<script src="resources/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
	<script src="resources/fontawesome-free-6.0.0-web/js/all.min.js"></script>
</body>

</html>